{% extends 'base.html' %}

{% block titulo %} CREAR RECETA {% endblock titulo %}

{% block contenido %}

<div>
    <div>
        <h1>Crear Nueva Receta</h1>
    </div>
    <div>
        <form action="" method="POST">{% csrf_token %}
            <div>
                <label>Nombre:
                    {{form.nombre}}
                </label>
            </div>
            <div>
                <div>
                    <label>Ingrediente 1
                        {{form.ingrediente_1}}
                    </label>
                </div>
                <div>
                    <label>Cantidad 1
                        {{form.cantidad_1}}
                    </label>
                </div>
            </div>
            <div>
                <div>
                    <label>Ingrediente 2
                        {{form.ingrediente_2}}
                    </label>
                </div>
                <div>
                    <label>Cantidad 2
                        {{form.cantidad_2}}
                    </label>
                </div>
                <div>
                    <div>
                        <label>Ingrediente 3
                            {{form.ingrediente_3}}
                        </label>
                    </div>
                    <div>
                        <label>Cantidad 3
                            {{form.cantidad_3}}
                        </label>
                    </div>
                </div>
                <div>
                    <label>Procedimiento:
                        {{form.procedimiento}}
                    </label>
                </div>
            </div>
            <div>
                <button class="btn_guardar" type="submit">Guardar</button>
            </div>
        </form>
    </div>
</div>

{% endblock contenido %}