{% extends 'base.html' %}

{% block titulo %} CREAR RECETA {% endblock titulo %}

{% block contenido %}

<h1> Recetas con hasta 3 ingredientes! </h1>
<div class="d-flex" style="margin-top:3rem; margin-left:7rem; margin-bottom:3rem;">
    {% for receta in object_list %}

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{receta.nombre}}</h5>
            <p class="card-text">{{receta.procedimiento}}</p>
            <a href="#" class="btn btn-primary">Ver mas!</a>
        </div>
    </div>

    {% endfor %}
</div>

<h1> Recetas con hasta 6 ingredientes! </h1>
<div class="d-flex" style="margin-top:3rem; margin-left:7rem; margin-bottom:3rem;">
    {% for receta in object_list %}

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{receta.nombre}}</h5>
            <p class="card-text">{{receta.procedimiento}}</p>
            <a href="#" class="btn btn-primary">Ver mas!</a>
        </div>
    </div>

    {% endfor %}
</div>

<h1>  Recetas con hasta 10 ingredientes!</h1>
<div class="d-flex" style="margin-top:3rem; margin-left:7rem; margin-bottom:3rem;">
    {% for receta in object_list %}

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{receta.nombre}}</h5>
            <p class="card-text">{{receta.procedimiento}}</p>
            <a href="#" class="btn btn-primary">Ver mas!</a>
        </div>
    </div>

    {% endfor %}
</div>

{% endblock contenido %}